<nav class="navbar custom-navbar">
  <div class="container-fluid">
    <div class="row w-100">
      <div class="col-12 col-sm-4 col-md">
        <a class="navbar-brand" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='vert-data.png') }}" alt="Vert Data" style="max-height: 80px;">
        </a>
      </div>
      <div class="col-12 col-sm-4 col-md">
        <a class="nav-link fs-3" href="{{ url_for('trial_upticks') }}">Trial-Upticks</a>
      </div>
      <div class="col-12 col-sm-4 col-md">
        <a class="nav-link fs-3" href="{{ url_for('graph') }}">Video-Data</a>
      </div>
      <div class="col-12 col-sm-4 col-md">
        <a class="nav-link fs-3" href="{{ url_for('trials') }}">Trial-Data</a>
      </div>
      <div class="col-12 col-sm-4 col-md">
        <a class="nav-link fs-3" href="{{ url_for('search') }}">Video-Search</a>
      </div>
      <div class="col-12 col-sm-4 col-md">
        <a class="nav-link fs-3" href="{{ url_for('other') }}">Other</a>
      </div>
    </div>
  </div>
</nav>
