/* Container styling */
.container {
  max-width: 90%;
  margin: auto;
}

/* Table styling */
.table-responsive table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;  /* Allows spacing between rows */
  border-spacing: 0 15px;       /* 15px vertical spacing */
}

/* Ensure long words wrap properly */
.table-responsive th,
.table-responsive td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

/* Remove outline from header rows */
.table-responsive thead tr {
  outline: none;
}

/* Add a nice outline to each body table row */
.table-responsive tbody tr {
  outline: 2px solid #ccc;
  outline-offset: 3px;
  text-align: center;
}


/* NAVBAR */
.custom-navbar {
  padding-top: 1.5rem;  /* Increased from 1rem */
  padding-bottom: 1.5rem;  /* Increased from 1rem */
  margin-bottom: 40px;  /* Increased from 20px */
  font-size: 1.5rem;
  background-color: #ADD8E6; /* Nice light blue */
}

.custom-navbar .navbar-brand {
  padding-left: 2px;
  font-size: 1.5rem;
  color: #333; /* darker text on hover */
}

.custom-navbar .nav-link {
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 1rem 1.5rem;  /* More padding for easier clicking/tapping */
}

.custom-navbar .nav-link:hover {
  background-color: #f0f0f0; /* light background on hover */
  color: #333; /* darker text on hover */
}

.custom-navbar .navbar-brand img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.custom-navbar .navbar-brand:hover img {
  transform: scale(1.05);
  opacity: 0.8;
}